body{
}

table{
  border-collapse: collapse;
}

td{
  font-size: 12px;
  padding: 3px 2px;
  border: 1px solid #cccccc;
}

.cell{
  text-align: center;
  width: 40px;
}

.project_name{
  width: 150px;
}

.task_name{
  width: 150px;
}

.businessday{
}

.nonbusinessday{
  background: #eeeeee;
}
